<div align="center">
  <img  style="margin: auto; margin-top: 50px; height: 75px;" class="mt-3" src="assets/images/logo_large.png">
</div>
<br/>

<div style="display: flex; justify-content: center;">
  <mat-card class="example-card">
    <mat-card-content>
      <div class="example-container">
        <div style="text-align: center;">
          <p class="mat-h2">Iniciar Sesión</p>
        </div>

        <mat-form-field>
          <input matInput placeholder="Usuario" [(ngModel)]="usuario" autofocus="true" required>
          <button mat-icon-button matSuffix>
            <mat-icon>email</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input matInput [(ngModel)]="clave" [type]="hide ? 'password' : 'text'" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <br />
        <button mat-raised-button color="primary" (click)="iniciarSesion()">iniciar Sesion</button>
      </div>
    </mat-card-content>
    <br />
  </mat-card>
</div>